{% extends "base.html" %}
{% block title %}{{ page_name }}{% endblock %}
{% block description %}{% endblock %}

{% include 'common_seo.html' %}

{% block content %}
<div class="uk-width-medium-7-10 no-margin">
    <!--h1 class="uk-heading-large">Archives</h1-->

    {% for article in dates %}
    <article class="uk-article no-top-margin">
		<a href="{% if DEFAULT_LANG != 'en' %}/{{DEFAULT_LANG}}{% endif %}/{{ article.url }}" class="">{{ article.title }}</a>
        <span class="uk-article-meta">
            <time datetime="{{ article.date.strftime('%Y-%m-%d') }}">{{ article.locale_date }}</time>
        </span>

    </article>
    {% endfor %}

</div>
{% endblock %}



