{% extends "base.html" %}
{% block title %}Search results{% endblock %}
{% block description %}{% endblock %}

{% include 'common_seo.html' %}

{% block content %}
<div class="uk-width-medium-7-10 no-margin">
    <h1 class="uk-heading-large">Search results</h1>

    <div id="tipue_search_content"></div>

</div>
{% endblock %}



