/* latin & latin-ext */
@font-face {
	font-family: 'Amatic SC';
	font-style: bold;
	font-weight: 400;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(../fonts/AmaticSC-Bold.ttf) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215, U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

html {
	font: 400 14px / 20px "Oswald", "Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
	color: #00b0a0;
}
a:hover, em {
	color: #ff8800;
	text-decoration:none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		margin-top: 0;
		font-family:'Amatic SC', cursive;
		color: #333; }

.h2, h2, .uk-panel-title {
	font-size:26px;
}

.blog-title {
		padding: 0.5ex 0;
		font-size: 108px;
		font-weight: bold;
		padding-left:60px;
}
.blog-description {
		font-size: 29px;
		color: #999;
		padding-left:60px;
		font-family:'Amatic SC', cursive;
		margin: 0.5ex 0;
}

#meta_press_logo {
		background: url(../img/logo-metapress-256px-sq.png);
		display: block;
		float:left;
		width:256px;
		height:256px;
		margin-right:2em;
}

/** Masthead for nav */
.blog-masthead {
		background-color: #00D0C0;
		-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
		box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); }

/** Nav links * */
.blog-nav-item {
		position: relative;
		display: inline-block;
		padding: 10px;
		font-weight: 500;
		color: #cdddeb!important; }
.blog-nav-item:hover,
.blog-nav-item:focus {
		color: #fff!important;
		text-decoration: none; }

.lang {
	float:right;
}

/** Active state gets a caret at the bottom **/
.blog-nav .active {
		color: #fff!important;
}
.blog-nav .active:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -5px;
		vertical-align: middle;
		content: " ";
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
}

.uk-navbar-brand {
	text-transform: uppercase; }

.no-top-margin {
	margin-top:0 !important;
}
.uk-article, .no-margin {
	margin-left:0 !important;
	padding-left:0 !important;
}
.mp-article-title {
	font-size:64px;
	margin-top:0.5ex;
}
.uk-article-meta > a {
	color: #444; }
	.uk-article-meta > a:hover {
		color: #444; }
.uk-article-meta > .uk-icon-comment {
	color: #444; }

.uk-icon-github {
	color: #333; }

.uk-icon-envelope {
	color: #444; }

.uk-nav-side > li.uk-active > a {
	background: #28D1B2;
}

.uk-pagination > .uk-active > span {
	background: #28D1B2; }

.uk-icon-medium {
	margin-right: 0.3em; }

.uk-navbar-toggle {
	color: white; }
	.uk-navbar-toggle:hover, .uk-navbar-toggle:focus {
		color: white; }

.uk-panel-box {
	padding: 1ex !important;
	background-color: #f0f0f0;
	border-radius: 4px;
}

.uk-nav-offcanvas > li > a {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
	.uk-nav-offcanvas > li > a:last-child {
		border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
.uk-nav-offcanvas .uk-nav-divider {
	border-top: 1px solid rgba(255, 255, 255, 0.01);
	margin: 0;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

.uk-nav-offcanvas .uk-nav-header {
	margin-top: 0;
	background: #404040;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.uk-grid-content {
	margin:0!important;
}

.mg-header {
	padding: 1em 0;
	background-color: #39B39D; }

.mg-main {
	/* margin-top: 4em; */
	margin-bottom: 3em;
	min-height: 100%; }

.mp-rss {
	display:block;
	margin-top:-2ex;
	margin-left:1ex;
}
.uk-icon-rss {
	color: #FF6600;
	margin-right:0.5ex;
}

.mg-list-title {
	font-size: 2em;
	line-height: 42px;
	font-weight: 400;
	text-transform: none;
	margin-top: 0.5em; }

.mg-footer {
	margin-bottom: 1em; }

.mg-author {
	margin-top: 1em; }

.mg-icon-link:hover {
	text-decoration: none; }

.mg-icons-small {
	margin-bottom: 1em; }

.mg-icons-small > li > a {
	color: white; }
	.mg-icons-small > li > a:hover {
		color: white; }
.mg-icons-small .uk-icon-rss {
	background-color: #FF6600; }
.mg-icons-small .uk-icon-envelope {
	background-color: #059; }

.mg-badges li {
	float: left;
	position: relative; }

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0; }

